/*  giao diện PC */
@media (max-width: 64em) {
    .reponsive {
        display: none;
    }
}
/* giao diện tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #main {
        margin-left: 0;
    }

    #menu-bar {
        display: none !important; 
    }

    .add-menu-category {
        display: none;
    }

    .header {
        width: 0;
        padding: 14px;
    }

    .search-items {
        display: none;
    }

    .menubar {
        display: block;
        text-decoration: none;
        color:  #d5d0d0;
    }

    .setting {
        margin-left: 22px;
    }

    #body {

    }
}

/* giao diện mobile */
@media (max-width: 46.1875em) {
    /* .main {
        display: none;
    }
    
    .reponsive {
        display: block;
    } */
}

